---
import MainLayout from "../layouts/MainLayout.astro";

const isRed = true;
---

<MainLayout title="My Blog">
    <p class:list={["big", { red: isRed }]}>hi from home</p>
</MainLayout>

<style>
    .big {
        font-size: 4rem;
    }

    .red {
        color: red;
    }
</style>
